<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">


</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
    <div class="col-lg-8 mx-auto p-3 py-md-2" style="background-color: white;">

        <div class="container-fluid">

          <header class="p-3 mb-3 border-bottom">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          
                <a href="/" class="navbar-brand d-flex me-lg-5 text-decoration-none">
                  <img src="{{ url_for('static', filename='img/google-logo.png') }}" style="width:100px;height:30px;">
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        Search
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="">Document Search</a></li>
                        <li><a class="dropdown-item" href="">Image Search</a></li>
                        <li><a class="dropdown-item" href="">Table Search</a></li>
                        <li><a class="dropdown-item" href="">Video Search</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="">All Apps</a></li>
                      </ul>
                    </li>
          
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Talk to Gen AI
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('index') }}">Talk to Gemini</a></li>
                        <li><a class="dropdown-item" href="#">Talk to PaLM</a></li>
                        <li><a class="dropdown-item" href="#">Talk to Text2SQL</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All Apps</a></li>
                      </ul>
                    </li>
          
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Vision
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Multimodal</a></li>
                        <li><a class="dropdown-item" href="#">Imagen</a></li>
                        <li><a class="dropdown-item" href="#">Video Description</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All Apps</a></li>
                      </ul>
                    </li>
          
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Chat
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Shopping Advisor</a></li>
                        <li><a class="dropdown-item" href="#">Trip Advisor</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">All Apps</a></li>
                      </ul>
                    </li>
                    
          
                  </ul>
          
                </div>
              </div>
            </nav>
          </header>


        </div>
        <main>
            <div class="container text-left">
                <div class="row align-items-start">
                    <div class="col-12" id="mainpage">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
        <footer></footer>

    </div>

    <script async src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>



</body>

</html>