<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">


</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
    <div class="col-lg-8 mx-auto p-3 py-md-2" style="background-color: white;">

        <div class="container-fluid">

          <header class="p-3 mb-3 border-bottom">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          
                <a href="/" class="navbar-brand d-flex me-lg-5 text-decoration-none">
                  <img src="{{ url_for('static', filename='img/google-logo.png') }}" style="width:100px;height:30px;">
                </a>
              </div>
            </nav>
          </header>


        </div>
        <main>
            <div class="container text-left">
                <div class="row align-items-start">
                    <div class="col-12" id="mainpage">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
        <footer></footer>

    </div>

    <script async src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>



</body>

</html>